
<frameset cols="23%,*" framespacing="0"  frameborder="0" noresize>
    <frame name="link" src="/admin/maps/links">
    <?php if(!empty($this->request->params['pass'])): ?>
        <frame name="main" src="/admin/maps/index-map/<?= $this->request->params['pass'][0] ?>">
    <?php else: ?>
        <frame name="main" src="/admin/maps/index-map">
    <?php endif; ?>
</frameset>