<?php if ($token) {
    echo "<option disabled selected>- - Select Student - -</option>";
    foreach ($client->students as $details):
        echo "<option value='" . $details->id . "'>" . $details->name . "</option>";
    endforeach;
} ?>
