<?php 
$emailNotif = ['Yes', 'No'];

?>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="widget-box">
            <?php foreach ($userDetails as $user) : ?>
                <div class="widget-title">
                    <h2><strong>Profile</strong></h2>
                </div>
                <hr class="customHr">
                <div class="widget-container table-responsive">
                    <?= $this->Form->create(null, ['url' => ['action' => 'clientUpdate']]); ?>
                    <div id="client-info" class="row">
                        <div class="row col-md-12 center-content">
                            <div class="col-md-11">
                                <h4>Profile Details:</h4>
                                <hr>
                            </div>
                            <div class="col-md-1">
                                <button type="button" id="edit-btn"
                                        class="btn btn-primary btn-xs pull-right top-buffer">Edit Details
                                </button>
                                <button type="submit" id="update-btn"
                                        class="btn btn-success btn-xs hidden pull-right top-buffer">
                                    Update
                                </button>
                            </div>
                        </div>
                        <?= $this->Form->hidden('token', ['value' => $user->token]) ?>
                        <div class="row center-indent">
                            <hr>
                            <div class="col-md-4">
                                <label for="fname">First Name:</label>
                                <input type="text" id="fname" name="first_name" value="<?= $user->first_name ?>"
                                       class="form-control" required="required">
                            </div>
                            <div class="col-md-4">
                                <label for="lname">Last Name:</label>
                                <input type="text" id="lname" name="last_name" value="<?= $user->last_name ?>"
                                       class="form-control" required="required">
                            </div>
                            <div class="col-md-4">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       value="<?= $user->email ?>" required>
                            </div>
                        </div>
                        <div class="row center-indent">
                            <div class="col-md-12">
                                <p>To Update your password first, confirm your current password and then enter your new password and confirm password by re-typing it:</p>
                            </div>
                        </div>
                        <div class="row center-indent">
                            <div class="col-md-4">
                                <input type="password" name="current_password" class="form-control"
                                       placeholder="Current Password">
                            </div>
                            <div class="col-md-4">
                                <input type="password" id="new_password" name="new_password" class="form-control"
                                       placeholder="New Password">
                            </div>
                            <div class="col-md-4">
                                <input type="password" id="confirm_password" name="confirm_password" class="form-control"
                                       placeholder="Confirm Password">
                            </div>                            
                        </div>
                        <div class="row center-indent">
                            <?php // echo $user->email_notif; ?>
                           <div class="col-md-10">
                                <label for="rate_name">Would you like to receive an email notification for session reports submitted?</label>
                                <select name="email_notif" id="email_notif" class="form-control">
                                <?php if (!isset($user->email_notif)): ?>
                                        <option selected="selected" disabled>- - Please select - -</option>
                                <?php endif; ?>
                                 <?php foreach($emailNotif as $notif): ?>
                                    <option <?php $sel = ($user->email_notif === $notif ? "selected" : ""); ?> <?= $sel ?> value="<?= $notif ?>"><?= $notif ?></option>
                                 <?php endforeach; ?>
                                    
                        </select>
                            </div> 
                        </div>
                        <div class="row col-md-12 center-content">
                            <div class="col-md-12">
                                <h4>Contact Details:</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row center-indent">
                            <div class="col-md-4">
                                <label for="mobile">Mobile:</label>
                                <input type="text" class="form-control" id="mobile" name="mobile"
                                       value="<?= $user->mobile ?>" maxlength="10" required>
                            </div>
                            <div class="col-md-4">
                                <label for="phone">Alternate Phone:</label>
                                <input type="text" id="phone" name="phone" value="<?= $user->phone ?>"
                                       maxlength="10" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label for="street_num">Unit#:</label>
                                <input type="text" class="form-control" name="unit_num"
                                       value="<?= $user->unit_number ?>" maxlength="4" >
                            </div>
                            <div class="col-md-2">
                                <label for="street_num">Street#:</label>
                                <input type="text" class="form-control" name="street_num"
                                       value="<?= $user->street_number ?>" maxlength="4" required>
                            </div>
                        </div>
                        <div class="row center-indent">
                            <div class="col-md-3">
                                <label for="street_name">Street Name:</label>
                                <input type="text" class="form-control" id="street_name" name="street_name"
                                       value="<?= $user->street_name ?>" required>
                            </div>
                            <div class="col-md-3">
                                <label for="suburb">Suburb:</label>
                                <input type="text" id="suburb" name="suburb" value="<?= $user->suburb ?>"
                                       class="form-control" required="required">
                            </div>
                            <div class="col-md-3">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" id="city" name="city"
                                       value="<?= $user->city ?>" required>
                            </div>
                            <div class="col-md-3">
                                <label for="state">State:</label>
                                <select id="state" name='state' class="form-control" required>
                                    <option selected='selected'
                                            value="<?= $user->state_id ?>"><?= $user->state->name ?></option>
                                    <?php foreach ($states as $state) : ?>
                                        <option
                                            value='<?= $state->id ?>'><?= $state->name ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="row col-md-12 center-content">
                            <div class="col-md-12">
                                <h4>Student Details:</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row center-indent">
                            <div class="col-md-12">
                                <table id="studentTable"
                                       class="table table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Year Level</th>
                                        <th>Subjects</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach ($user->students as $student): ?>
                                        <tr>
                                            <td><?= $student->name ?></td>
                                            <td><?= $student->year_level->name ?></td>
                                            <td><?php $subj = array();
                                                            foreach ($student->student_subjects as $subjects) {
                                                                $subj[] = $subjects->subject->name;
                                                            }
                                                            echo implode(", ", $subj); ?></td>
                                        </tr>

                                    <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <?= $this->Form->end(); ?>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>
<?= $this->Html->script('clients/profile.js'); ?>