<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css' />
<script src='http://code.jquery.com/jquery-1.11.3.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js'></script>


<form  action="submit" method="POST">
<div class="col-md-12">
    <label for="street-name">HR manager:</label>
    <input type="text" class="form-control" id="street-name"
           name="hr_manager"
           value=""><br><i class="glyphicon glyphicon-info-sign"></i> Note: Please enter date format <strong>yyyy-mm-dd.</strong><br>
    <input type="submit" value="test"></input>
</div>
    <div id="calendar">test</div>
</form>
<script>
    
S(document).ready(function () {
    $('#calendar').fullCalendar({
    editable: true,
    weekMode: 'liquid',
    url:'#',
});
</script>

<?= $this->Html->script('admin/add-new-clients.js'); ?>
