<div class="container">
<form enctype="multipart/form-data" action="upload" method="POST">
    <p>Upload your file</p>
    <input type="file" name="resume" accept="application/jpeg"></input><br />
    <input type="submit" value="Upload"></input>
  </form>
</div><!-- End .row-->
<div class="col-md-12">
    <label for="street-name">Expiry Date:</label>
    <input type="text" class="form-control" id="street-name"
           name="expiry_date"
           title="Expiry Date" 
           value=""><br><i class="glyphicon glyphicon-info-sign"></i> Note: Please enter date format <strong>yyyy-mm-dd.</strong><br>
</div>
       
<script>
    $(document).ready(function () {
 
        var hash = window.location.hash;
        
        if (hash === '#submitted'){
            alert('Application submitted!');
           
        }

//        switch (hash) {
//            case '#submitted':
//                $('#response-dialog').modal('show');
//                $('#response-dialog .modal-title').text('Info');
//                $('#response-dialog .modal-body p').text('Please complete existing booking before activating a new one.');
//            break;
//        
//        }
    $('#subjects').multiSelect();
    });
 
</script>

<?= $this->Html->script('admin/add-new-clients.js'); ?>
