<style>
    .form-control{
        height: 22px;
    }
    
    .input-group-addon {
        font-size: 8px;
    }
</style>

<div class="widget-box">
    <div class="widget-title">
        <h2><strong>Payroll Tutor List</strong></h2>
    </div>
            
            
            
            
            <?php // debug($tutorsInfo->toArray()); ?>
</div>